* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}
a,
p {
	font-size: 14px;

	line-height: 2;
}


.profile{
	margin-top: 8%;
	transition: .5s ease;
	cursor: pointer; 
}

.profile:hover{
	box-shadow:
	3px 3px #565373,
	4px 4px #565373,
	5px 5px #565373,
	6px 6px #565373,
	8px 8px #565373,
	10px 10px #565373;
	-webkit-transform: translateX(-3px);
	transform: translateX(-3px);
	transition: .5s ease;
	
	} */
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;}
ul,
ol {
	padding: 0;
	margin: 0;
}


.header-sect {
	background: #131313;
	padding: 20px 0;
	border-bottom: 4.5px solid ;
    border-color:  #ffb320;
	

}

.main-menu {
	display:flex;
}
.main-menu img {
	float: left;
	margin-left: 30%;
	width: 200px;
}
.main-bawah {
	display:flex;
	justify-content: space-around;
}

.main-bawah ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.site-logo {
	margin-right: 90px;
}

.user-panel {
	display: flex;
	font-weight: 500;
	background: #ffb320;
	padding: 8px 28px;
	border-radius: 30px;
}
.user-panel a:hover {
	color: white;

}

.user-panel a {
	margin-top: 4px;
	font-size: 14px;
	color: #131313;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

.site-btn {
	display: inline-block;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #131313;
	padding: 16px 30px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: normal;
	border: none;
	background: #ffb320;
	cursor: pointer;
	text-decoration: none;
}

.site-btn:hover {
	color: white;
}
.site-profile {
	display: grid;
	text-align: center;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #131313;
	padding: 10px 20px;
	min-width: 153px;
	border-radius: 50px;
	font-weight: normal;
	border: none;
	background: #ffb320;
	cursor: pointer;
	text-decoration: none;
}
.site-profile:hover {
	color: white;
}

.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 10%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {top: 15%;}
  to {top: 40%;}
}


@keyframes posi {
  from {top: 15%;}
  to {top: 40%;}
}

.txt h2 {
	color: #fff;
	font-weight: 500;
	font-size: 70px;
}
.txt h2 span {
	color: #ffb320;
}
.txt p {
	color: #fff;
	font-weight: lighter;
	margin-top: 50px;
	font-size: 24px;
	opacity: 1;
}

img{
	scale: 1.1;

}
.authors {
	display: grid;
	width: 50%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border-radius: 150px;
 }
 .abt-img {
	float: left;
	margin-top: 10px;
	object-fit:cover;
	width: 300px;
	height: 220px;
 }
 .par-top {

	position: relative;
	display: flex;
	color: #00c7ed;
	margin-left: 32%;
}
.par-top p{
	color: black;
	font-weight: normal;
	font-size: 18px;
	text-align: justify;
}
.par-bot {

	position: relative;
	display: flex;
	color: #00c7ed;
}
.par-bot p{
	color: black;
	font-weight: normal;
	font-size: 18px;
	text-align: justify;
}
.comic-cont {
	display: flex;
	margin-top: 30px; 
	margin-bottom: 70px;
	width: 1400px;
	height: 415px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-between;
	z-index: 1;
	
}
.box {
	flex-grow: 2;
	margin: 5px;
	
}

.cata {
	position: absolute;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	background: #4eae60;
	padding: 6px 25px;
	z-index: 1;
	color: white;
}
.cata.new {
	background: #ff205f;
}

.cata.adventure {
	background: #4eae60;
}

.cata.horor {
	background: #694eae;
}

.cata.romance {
	background: #40abf5;
}
.fi-cont {
	position: absolute;
	width: 100%;
	margin-bottom: 110px;
	padding: 10px 24px;
	z-index: 1;
}
.fi-cont h5 {
	margin-left: -12px;
	margin-top: 250px;
	text-decoration: none;
}
.fi-cont h5 a {
	font-weight: normal;
	font-size: 24px;
	color: white;
	margin-bottom: 18px;
	text-decoration: none;
}
.fi-cont h5 a:hover {
	color:#FFB320;
}
.fi-cont p {
	margin-left: -12px;
	font-weight: normal;
	font-size: 14px;
	color: white;
	margin-bottom: 18px;
	text-decoration: none;
}
.fi-cont .fi-comment {
	margin-left: -12px;
	color: white;
	font-size: 12px;
	opacity: .54;
}
main {
	overflow: hidden;
	margin: 0;
	padding: 0;
 }
  #content {
	float: left;
	width: 75%;
	padding: 20px; 
 }
 aside {
	float: right;
	width: 25%;
	padding-left: 20px;
 }

 footer {
	padding: 10px;
	color: #aeaeae;
	background-color: #000000;
	text-align: center;
	font-weight: bold;
 }
 footer p {
	margin-top: 10px;
	color: white;
	font-weight: normal;
 }
 .abt-img {

 }
 .judul {
	 font-size: 40px;
	font-family: 'Roboto', sans-serif;
	color: #F44949;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
 }
 .judul-pro {
	font-size: 40px;
   font-family: 'Roboto', sans-serif;
   color: black;
   text-align: center;
   margin-top: 20px;
}
.sub-pro {
	font-size: 30px;
   font-family: 'Roboto', sans-serif;
   color: black;
   text-align: left;
   margin-top: 20px;
}
.tengah-txt {
	text-align: center;
	font-weight: normal;
}
.par-pro {
	position: relative;
	display: flex;
	margin-top: 10px;
	color: #00c7ed;
}
.par-pro p{
	color: black;
	margin-top: -3px;
	font-weight: normal;
	font-size: 20px;
	text-align: justify;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
  
    /* properti pendukung */
    margin: 0 auto;
    text-align: right;
 }
 .flex-container-row {
    display: flex;
 }
 .button {
    flex-basis: 25%;
   
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
 }
 .double {
    flex-basis: 50%;
 }
 .display {
    color: white;
    width: 100%;
	height: 150px;
    padding: 10px 20px;
    background-color: #333333;
    border: 1px solid black;
    font-size: 2em;
 }
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
 }
 .button:hover {
    font-weight: bold;
 }
 .operator,
.negative,
.clear,
.equals {
   background: orange;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
}
th,
td {
   text-align: center;
   padding: 16px;
}
th {
   background-color: orange;
   color: white;
}
tr:nth-child(even) {
   background-color: #d2d2d2;
}
@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
 }
 
@media screen and (max-width: 513px) {
 .button {
       padding: 10px;
 }
 .history {
       width: 100%;
 }
}

@media screen and (min-width: 2px) and (max-width: 1300px) {

body {
	overflow-x: hidden;
}
.par-top {

	position: relative;
	display: flex;
	color: #00c7ed;
	margin-left: 0%;
}
.abt-img {
	float: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: grid;
	margin-top: 10px;
	object-fit:cover;
	width: 220px;
	height: 180px;
 }
.hidden {
	display: none;
}
	 .menu-tri {
		 display: flex;
		 margin-left: 200px;
		 z-index: 5;
	 }
	.user-panel {
		display: none;
	}
	
	.main-bawah ul {
		display: none;
	}
	.site-logo {
		float: left;
		width: 190px;
	}
	nav ul.slide {
		transform: translateX(0);
	}
	.comic-slide{
		height: 500px;
	}
	.txt h2 {
		margin-top: -40px;
		color: #fff;
		font-weight: 500;
		font-size: 35px;
	}
	.txt p {
		color: #fff;
		font-weight: lighter;
		margin-top: 30px;
		font-size: 14px;
		opacity: 1;
	}
	.site-btn {
		margin-top: 20px;
		font-size: 14px;
		padding: 7px 18px;
	}
	.dotsbox{
		margin-left: 0px;
	}
	.comic-cont {
		display: none;
	}
	.box {
		display: none;
	}

	.fi-cont {
		margin-bottom: auto;
	}
	.fi-cont h5 {
		margin-left: -12px;
		margin-top: 200px;
		text-decoration: none;
	}
	.fi-cont p {

	}
	main {
		padding: 20px;   
		overflow-x: hidden;
	 }
	 #content,
	 aside {
		 width: 100%;
		 padding: 0;
	 }
	 .img-com2 {
		display: grid;
		position: relative;
		object-fit:cover;
		max-width: 103%;
		max-height: 103%;
		width: 140%; 
		height: 140%;
		margin: -19px;
		z-index: -1;
	
		background-repeat: no-repeat;
		background-size: 100% 100%;
		overflow: hidden;
	}
}
